.text-xsm {
  font-size: 10px;
  line-height: 16px;
}
.text-xs {
  font-size: 12px;
  line-height: 16px;
}
.text-sm {
  font-size: 14px;
  line-height: 16px;
}
.text-base {
  font-size: 16px;
  line-height: 24px;
}
.text-base1 {
  font-size: 14px;
  line-height: 24px;
}
.text-body-small {
  font-size: 14px;
  line-height: 20px;
}
.text-l {
  font-size: 18px;
  line-height: 24px;
}
.text-0xl {
  font-size: 20px;
  line-height: 24px;
}
.text-xl {
  font-size: 20px;
  line-height: 30px;
}
.text-1xl {
  font-size: 24px;
  line-height: 32px;
}
.text-2xl {
  font-size: 32px;
  line-height: 38px;
}
.text-3xl {
  font-size: 30px;
  line-height: 45px;
}
.text-4xl {
  font-size: 36px;
  line-height: 54px;
}
.text-5xl {
  font-size: 48px;
  line-height: 48px;
}
.text-6xl {
  font-size: 60px;
  line-height: 60px;
}
.text-7xl {
  font-size: 48px;
  line-height: 64px;
}
.text-8xl {
  font-size: 64px;
  line-height: 14px;
}
// fontweight

.text-light {
  font-weight: 300;
}
.text-normal {
  font-weight: 400;
}
.text-medium {
  font-weight: 500;
}
.text-semibold {
  font-weight: 600;
}
.text-bold {
  font-weight: 700;
}

// text effect
.no-decoration {
  text-decoration: none;
  a {
    text-decoration: none;
  }
}
.text-link {
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
.hover-underline {
  &:hover {
    text-decoration: underline;
  }
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
