.text-black {
  color: #000 !important;
}
.text-white {
  color: #fff !important;
}
.text-gray-10 {
  color: var(--fkb-color-grey10) !important;
}
.text-gray-20 {
  color: var(--fkb-color-grey20) !important;
}
.text-gray-30 {
  color: var(--fkb-color-grey30) !important;
}
.text-gray-40 {
  color: var(--fkb-color-grey40) !important;
}
.text-gray-50 {
  color: var(--fkb-color-grey50) !important;
}
.text-gray-60 {
  color: var(--fkb-color-grey60) !important;
}
.text-gray-90 {
  color: var(--fkb-color-grey90) !important;
}
.text-gray-110 {
  color: var(--fkb-color-grey110) !important;
}
.text-gray-130 {
  color: var(--fkb-color-grey130) !important;
}
.text-gray-150 {
  color: var(--fkb-color-grey150) !important;
}
.text-gray-190 {
  color: var(--fkb-color-grey190) !important;
}
.text-gray-230 {
  color: var(--fkb-color-grey230) !important;
}
.text-primary {
  color: var(--fkb-text-primary) !important;
}
.text-secondary {
  color: var(--fkb-text-secondary) !important;
}
.text-success {
  color: var(--fkb-text-success) !important;
}
.text-favorite {
  color: var(--fkb-text-favorite) !important;
}
.text-warning {
  color: var(--fkb-text-warning) !important;
}
.text-danger {
  color: var(--fkb-text-danger) !important;
}
.text-blue {
  color: var(--fkb-text-blue) !important;
}
.text-transparent {
  color: transparent !important;
}

// icon color
.color-wiki {
  color: var(--fkb-icon-color-wiki) !important;
}
.color-messenger {
  color: var(--fkb-icon-color-messenger) !important;
}
.color-friends {
  color: var(--fkb-icon-color-friends) !important;
}
.color-like {
  color: var(--fkb-text-like) !important;
}
.color-favorite {
  color: var(--fkb-text-favorite) !important;
}
